#ntscshen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    background: url('../images/na-banner1.jpg') no-repeat;
    background-color: pink;
    border: 5px solid red;
    border-radius: 10%;
    color: red;
    font-size: 28px;
}
